/*

Title: Collabofide
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 03/08/20

*/

// Set variables

// Colors
$white: #ffffff;
$carrara: #e9e9e4;
$jumbo: #868698;
$punch: #d7492b;
$sienna: #ce7b3b;
$bright-gray: #343c4c;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$hind-madurai: 'Hind Madurai', sans-serif;
